head{
    background-color:#6eaaff;
    font-family:Impact;
}


body{
background-color:#7096cc;
font-family:'Lucida Sans';
font-size: medium;
margin: 50px;
line-height: 30px;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.link1{
text-align: center;
}

img{
border: 5px solid #555;
}

table, th, td {
border: 2px solid;
background-color: azure;
}

ol, li, h2 {
    text-align: left;
}
